Options +FollowSymLinks
RewriteEngine On
RewriteBase /myproject/

RewriteRule ^$ app/Views/index.php [L]
RewriteRule ^login$ app/Views/auth/login.php [L]
RewriteRule ^register$ app/Views/auth/register.php [L]
